<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/erkantaylan/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="erkantaylan" />
            <add key="ClearTextPassword" value="6674cb7f4c3e8d94731b582dd1062eefde0dd845" />
        </github>
    </packageSourceCredentials>
</configuration>